footer {
    position: absolute;
    bottom: 0px;
    padding-bottom:10px;
}

footer > a, .link-button{
    color:black;
    text-decoration: none;
    font-size: calc(8px + 1vmin);
}

.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    margin: 0;
    padding: 0;
  }